@import './common.css';
button {
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
}
.img_bg_1 {
  width: 20px;
  height: 20px;
  background: url('../assets/bagua02-icon@3x.png') center no-repeat;
  background-size: 20px 20px;
}
.img_bg_2{
  width: 200px;
  height: 200px;
  background: url('../assets/flower.jpg') center no-repeat;
  background-size: 200px 200px;
}
