@import '../css/common.css';
@import './_bg-image.scss';
html, body {
    width: 100%;
    height: 100%;
    
}
.back_icon {
    width: .3rem;
    height: .3rem;
    position: fixed;
    top: .19rem;
    left: .14rem;
    z-index: 999;
    @include bg-image('../assets/back-icon')
}
.main_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../assets/background3.jpg');
    background-size: cover;
    position: relative;
    .top_wrapper {
        position: relative;
        margin-top: .12rem;
        margin-top: .30rem;
        .top_head {
            display: flex;
            justify-content: space-between;
            margin: 0 .8rem;
            color: #5C3226;
            font-size: .15rem;
            line-height: .21rem;
            .top_right, .top_left {
                display: flex;
                align-items: center;
            }
            .number,.time {
                width: 20px;
                text-align: center;
            }
            .time {
                margin-left: 10px;
            }
            .diamond_icon {
                width: .3rem;
                height: .24rem;
            }
        }
    }
    .digging_man {
        position: absolute;
        left: 50%;
        top: .82rem;
        margin-left: -.27rem;
        .man {
            width: 1.17rem;
            height: .98rem;
        }
        #line {
            position: absolute;
            width: 2px;
            height: 7px;
            background-color: rgb(181,181,180);
            margin-left: .258rem;
            margin-top: .35rem;
            transform-origin: top;
            z-index: 9;
            .hook {
                width: .20rem;
                height: .38rem;
                position: absolute;
                bottom: -.35rem;
                left: 50%;
                margin-left: -.085rem;
            }
        }
    }
    .bottom_wrapper {
        margin-top: 2.5rem;
        .ore_list {
            position: relative;
        }
    }
    .ore_list {
        position: absolute;
        top: 0;
        left: 0;
    }
    // 公共样式
    .shadow {
        position: absolute;
        background: #54342A;
        border-radius: 100%;
        top: -35%;
        left: 6%;
        z-index: -1;
        &.shadow1 {
            width: .3rem;
            height: .3rem;
        }
        &.shadow2 {
            width: .4rem;
            height: .4rem;
        }
        &.shadow3 {
            width: .4rem;
            height: .4rem;
            // top: -25%;
            // left: 9%;
        }
        &.shadow4 {
            width: .62rem;
            height: .62rem;
            top: -25%;
            left: 6%;
        }
        &.shadow5,&.shadow6 {
            // width: .51rem;
            // height: .51rem;
            // top: 0;
            // left: 6%;
            width: .43rem;
            height: .43rem;
            top: -25%;
            left: 9%;
        }
        // &.shadow6 {
        //     width: .48rem;
        //     height: .48rem;
        //     top: -15%;
        //     left: 8%;
        // }
        &.shadow7 {
            width: .51rem;
            height: .51rem;
            top: 0;
            left: 6%;
        }
        &.shadow8 {
            width: .49rem;
            height: .49rem;
            top: 8%;
            left: -27%;
        }
    }
    .temp {
        position: absolute;
        z-index: 20;
        transition: opacity .1s;
        opacity: 1;
        // transform: translate3d(150px, 300px, 0);
        left: 1.5rem;
        top: 3rem;
        &.fadeout {
            opacity: 0;
        }
        // &.show {
        //     animation: scalelittle .8s ease-in-out forwards;
        //     @keyframes scalelittle {
        //         0% {
        //             transform: scale(1);
        //             filter: brightness(1);
        //         }
        //         50% {
        //             transform: scale(1.1);
        //             filter: brightness(.9);
        //         }
        //         100% {
        //             transform: scale(1);
        //             filter: brightness(1);
        //         }
        //     }
        // }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 30;
            &.show {
                animation: scalelittle .8s ease-in-out forwards;
                @keyframes scalelittle {
                    0% {
                        transform: scale(1);
                        filter: brightness(1);
                    }
                    50% {
                        transform: scale(1.5);
                        filter: brightness(.9);
                    }
                    100% {
                        transform: scale(1);
                        filter: brightness(1);
                    }
                }
            }
        }
        &.temp1 {
            width: .28rem;
            height: .16rem;
            // transform: translate3d(2.79rem, .1rem, 0);
        }
        &.temp2 {
            width: .42rem;
            height: .24rem;
            // transform: translate3d(.56rem, .71rem, 0);
        }
        &.temp3 {
            // width: .52rem;
            // height: .30rem;
            width: .42rem;
            height: .24rem;
            // transform: translate3d(2.12rem, 2.03rem, 0);
        }
        &.temp4 {
            width: .76rem;
            height: .44rem;
            // transform: translate3d(.7rem, 2.3rem, 0);
        }
        &.temp5 {
            width: .52rem;
            height: .30rem;
            // transform: translate3d(2.72rem, 2.71rem, 0);
        }
        &.temp6 {
            width: .52rem;
            height: .30rem;
            // transform: translate3d(1.31rem, .93rem, 0);
        }
        &.temp7 {
            width: .47rem;
            height: .42rem;
            // transform: translate3d(2.55rem, .72rem, 0);
        }
        &.temp8 {
            width: .35rem;
            height: .45rem;
            // transform: translate3d(1.41rem, 2.74rem, 0);
        }
    }         
    .shine {
        position: absolute;
        background: url('../assets/shine.png') center no-repeat;
        background-size: cover;
        z-index: 9;
        &#shine1 {
            width: .46rem;
            height: .33rem;
            top: 0;
            left: 50%;
            margin-left: -.23rem;
            margin-top: -.165rem;
        }
        &#shine2 {
            width: .73rem;
            height: .52rem;
            top: 0;
            left: 50%;
            margin-left: -.365rem;
            margin-top: -.26rem;
        }
        &#shine3,&#shine5,&#shine6 {
            // width: .87rem;
            // height: .63rem;
            // top: 0;
            // left: 50%;
            // margin-left: -.435rem;
            // margin-top: -.315rem;
            width: .73rem;
            height: .52rem;
            top: 0;
            left: 50%;
            margin-left: -.365rem;
            margin-top: -.26rem;
        }
        &#shine4 {
            width: 1.3rem;
            height: .93rem;
            top: 0;
            left: 50%;
            margin-left: -.65rem;
            margin-top: -.415rem;
        }
    }
    .pop_rule {
        position: absolute;
        width: 2.95rem;
        height: 4.31rem;
        top: 50%;
        left: 50%;
        margin-top: -2.15rem;
        margin-left: -1.47rem;
        background-color: #ffffff;
        border-radius: .1rem;
        z-index: 100;
        .pop_close {
            position: absolute;
            top: 0;
            right: 0;
            padding: .15rem;
            .close_icon {
                width: 11px;
                height: 11px;
                @include bg-image('../assets/general_dialog_close_icon');
            }
        }
        .pop_head {
            margin: .15rem auto .13rem;
            text-align: center;
            font-size: .17rem;
            color: #333333;
            font-weight: 550;
            line-height: .24rem;
        }
        .rules {
            margin: 0;
            font-size: .17rem;
            color: #333333;
            line-height: .24rem;
            padding: 0 .15rem;
        }
    }
    .count_down {
        width: .8rem;
        height: .8rem;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -.4rem;
        margin-top: -.4rem;
        background: RGBA(161, 161, 161, .4);
        color: #ffffff;
        line-height: .8rem;
        font-size: .47rem;
        z-index: 79;
        border-radius: 100%;
        text-align: center;
    }
    .congratulation_pop {
        width: 2.95rem;
        height: 1.96rem;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -1.475rem;
        margin-top: -.98rem;
        background: #ffffff;
        color: #333333;
        z-index: 80;
        border-radius: .1rem;
        .section1 {
            img {
                width: 100%;
            }
            .result {
                line-height: .24rem;
                font-size: .17rem;
                margin-top: .2rem;
                text-align: center;
                .red {
                    color: #D03F3F;
                }
            }
            .btn_wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                .btn {
                    width: 50%;
                    height: .5rem;
                    border-top: 1px solid #EAEAEA;
                    line-height: .5rem;
                    font-size: .17rem;
                    text-align: center;
                    &.get_coin_btn {
                        border-right: 1px solid #EAEAEA;
                        &.large {
                            border-right: none;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .section2 {
            .load_icon {
                width: .4rem;
                height: .4rem;
                margin: .25rem auto .12rem;
                animation: rotate 1s linear infinite;
            }
            .tip {
                font-size: 13px;
                color: #999999;
                line-height: .18rem;
                margin-bottom: .26rem;
                text-align: center;
            }
            .text {
                margin: 0 .2rem;
                font-size: .17rem;
                line-height: .24rem;
                color: #333333;
                text-align: left;
            }
        }
    }
    .music {
        position: fixed;
        top: .2rem;
        right: .15rem;
        width: .3rem;
        height: .3rem;
        @include bg-image('../assets/music-on-icon');
        &.on {
            animation: rotate 3s linear infinite;
        }
        &.off {
            @include bg-image('../assets/music-off-icon');
        }
        @keyframes rotate {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(1turn);
            }
        }
    }
    .click_area {
        position: absolute;
        width: 100%;
        margin-top: 1.8rem;
        height: 100%;
        // height: -webkit-calc(100vh - 1.8rem);
        // height: calc(100vh - 1.8rem);
        z-index: 60;
    }
    .share_guide {
        position: fixed;
        top: 1.5rem;
        color: #ffffff;
        font-size: .16rem;
        line-height: .24rem;
        margin: 0 .3rem;
        z-index: 9998;
    }
}