html,
body {
    height: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

.date-picker .dp-mask {
    z-index: 998;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: opacity .2s ease;
}

.date-picker .dp-mask.leave {
    pointer-events: none;
    opacity: 0;
}

.date-picker .dp-layout {
    z-index: 999;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.date-picker .dp-layout.in {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.date-picker .dp-layout.leave {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.date-picker .dp-panel {
    display: flex;
    border-bottom: 1px solid #D7D7D7;
    justify-content: space-between;
    align-items: center;
}

.date-picker .dp-btn {
    width: 52px;
    color: #DC950C;
    text-align: center;
    line-height: normal;
    padding: 3px 0;
}

.date-picker .dp-btn-group {
    display: flex;
    border: 1px solid #DC950C;
    border-radius: 4px;
    margin-left: 15px;
}

.date-picker .dp-btn.active {
    background-color: #DC950C;
    color: #fff;
}

.date-picker .dp-confirm {
    height: 100%;
    color: #DC950C;
    padding: 12px 15px;
}

.date-picker .dp-container {
    height: 200px;
    position: relative;
    display: flex;
}

.date-picker .dp-container:before {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .6)), linear-gradient(0deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .6));
    background-position: top, bottom;
    background-size: 100% 80px;
    background-repeat: no-repeat;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
}

.date-picker .dp-wrapper {
    width: 100%;
    /* position: absolute; */
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

.date-picker .dp-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.date-picker .dp-row {
    text-align: center;
    line-height: 40px;
    color: #333;
}

.date-picker .hour-wrapper {
    position: relative;
}
